body {
  padding: 20px;
  background-color: #6A7C96;
  color: white;
}

.jumbotron {
  padding: 50px;
  background-color: #5e5e5e;
}

ul {
  list-style-type: none;
}

img {
  float: block-left;
  max-width: 100%;
}
